node-red-complete-flow.json
{
  "id": "workspace-liquid-system",
  "label": "Workspace",
  "nodes": [
    {
      "id": "mqtt-broker-config",
      "type": "mqtt-broker",
      "z": "main",
      "name": "Raspberry Pi MQTT",
      "broker": "localhost",
      "port": "1883",
      "clientid": "node-red-liquid-system",
      "usetls": false,
      "compatmode": false,
      "keepalive": 60,
      "cleansession": true,
      "autoConnect": true,
      "willTopic": "",
      "birthTopic": "",
      "birthQos": 0,
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": 0,
      "closePayload": ""
    },
    {
      "id": "tab-liquid-control",
      "type": "ui_tab",
      "z": "main",
      "name": "Liquid Control",
      "icon": "fa-tint",
      "disabled": false,
      "hidden": false
    },
    {
      "id": "tab-monitoring",
      "type": "ui_tab",
      "z": "main",
      "name": "Monitoring",
      "icon": "fa-line-chart",
      "disabled": false,
      "hidden": false
    },
    {
      "id": "group-control",
      "type": "ui_group",
      "z": "main",
      "name": "Dispensation Control",
      "tab": "tab-liquid-control",
      "order": 1,
      "disp": true,
      "width": 12,
      "collapse": false
    },
    {
      "id": "group-quick",
      "type": "ui_group",
      "z": "main",
      "name": "Quick Presets",
      "tab": "tab-liquid-control",
      "order": 2,
      "disp": true,
      "width": 12,
      "collapse": false
    },
    {
      "id": "group-sensors",
      "type": "ui_group",
      "z": "main",
      "name": "Real-Time Sensors",
      "tab": "tab-monitoring",
      "order": 1,
      "disp": true,
      "width": 12,
      "collapse": false
    },
    {
      "id": "group-charts",
      "type": "ui_group",
      "z": "main",
      "name": "Historical Data",
      "tab": "tab-monitoring",
      "order": 2,
      "disp": true,
      "width": 12,
      "collapse": false
    },
    {
      "id": "btn-5ml",
      "type": "ui_button",
      "z": "main",
      "name": "5ml Push",
      "group": "group-quick",
      "order": 1,
      "width": 2,
      "height": 2,
      "passthru": false,
      "label": "5ml Push",
      "tooltip": "Dispense 5ml",
      "color": "#3498db",
      "bgcolor": "#2c3e50",
      "className": "",
      "icon": "fa-arrow-down",
      "payload": "{\"ml\":5,\"direction\":1}",
      "payloadType": "json",
      "topic": "liquid_system/command",
      "topicType": "str",
      "x": 100,
      "y": 100,
      "wires": [["node-mqtt-command"]]
    },
    {
      "id": "btn-10ml",
      "type": "ui_button",
      "z": "main",
      "name": "10ml Push",
      "group": "group-quick",
      "order": 2,
      "width": 2,
      "height": 2,
      "passthru": false,
      "label": "10ml Push",
      "tooltip": "Dispense 10ml",
      "color": "#3498db",
      "bgcolor": "#2c3e50",
      "className": "",
      "icon": "fa-arrow-down",
      "payload": "{\"ml\":10,\"direction\":1}",
      "payloadType": "json",
      "topic": "liquid_system/command",
      "topicType": "str",
      "x": 100,
      "y": 150,
      "wires": [["node-mqtt-command"]]
    },
    {
      "id": "btn-20ml",
      "type": "ui_button",
      "z": "main",
      "name": "20ml Push",
      "group": "group-quick",
      "order": 3,
      "width": 2,
      "height": 2,
      "passthru": false,
      "label": "20ml Push",
      "tooltip": "Dispense 20ml",
      "color": "#3498db",
      "bgcolor": "#2c3e50",
      "className": "",
      "icon": "fa-arrow-down",
      "payload": "{\"ml\":20,\"direction\":1}",
      "payloadType": "json",
      "topic": "liquid_system/command",
      "topicType": "str",
      "x": 100,
      "y": 200,
      "wires": [["node-mqtt-command"]]
    },
    {
      "id": "btn-5ml-pull",
      "type": "ui_button",
      "z": "main",
      "name": "5ml Pull",
      "group": "group-quick",
      "order": 4,
      "width": 2,
      "height": 2,
      "passthru": false,
      "label": "5ml Pull",
      "tooltip": "Draw 5ml",
      "color": "#e74c3c",
      "bgcolor": "#2c3e50",
      "className": "",
      "icon": "fa-arrow-up",
      "payload": "{\"ml\":5,\"direction\":-1}",
      "payloadType": "json",
      "topic": "liquid_system/command",
      "topicType": "str",
      "x": 100,
      "y": 250,
      "wires": [["node-mqtt-command"]]
    },
    {
      "id": "form-dispense",
      "type": "ui_form",
      "z": "main",
      "name": "Custom Dispense",
      "group": "group-control",
      "order": 1,
      "width": 6,
      "height": 4,
      "options": [
        {
          "label": "Volume (ml)",
          "key": "ml",
          "type": "number",
          "required": true,
          "placeholder": "5"
        },
        {
          "label": "Direction",
          "key": "direction",
          "type": "select",
          "options": [
            {
              "label": "Push (Dispense)",
              "value": 1
            },
            {
              "label": "Pull (Draw)",
              "value": -1
            }
          ],
          "required": true
        }
      ],
      "formValue": {
        "ml": 5,
        "direction": 1
      },
      "notification": "Command sent to system",
      "submit": "DISPENSE",
      "cancel": "Cancel",
      "topic": "",
      "topicType": "ignored",
      "splitLayout": false,
      "className": ""
    },
    {
      "id": "node-mqtt-command",
      "type": "mqtt out",
      "z": "main",
      "name": "Send Command to Pi",
      "topic": "liquid_system/command",
      "qos": "1",
      "retain": false,
      "broker": "mqtt-broker-config",
      "x": 300,
      "y": 100,
      "wires": []
    },
    {
      "id": "mqtt-in-level",
      "type": "mqtt in",
      "z": "main",
      "name": "Water Level",
      "topic": "liquid_system/level",
      "qos": "2",
      "datatype": "auto",
      "broker": "mqtt-broker-config",
      "nl": false,
      "rap": true,
      "rh": 0,
      "x": 100,
      "y": 300,
      "wires": [["gauge-level", "chart-level", "text-level"]]
    },
    {
      "id": "mqtt-in-temp",
      "type": "mqtt in",
      "z": "main",
      "name": "Temperature",
      "topic": "liquid_system/temperature",
      "qos": "2",
      "datatype": "json",
      "broker": "mqtt-broker-config",
      "nl": false,
      "rap": true,
      "rh": 0,
      "x": 100,
      "y": 350,
      "wires": [["gauge-temp", "chart-temp", "text-temp"]]
    },
    {
      "id": "mqtt-in-status",
      "type": "mqtt in",
      "z": "main",
      "name": "Dispensing Status",
      "topic": "liquid_system/status",
      "qos": "2",
      "datatype": "json",
      "broker": "mqtt-broker-config",
      "nl": false,
      "rap": true,
      "rh": 0,
      "x": 100,
      "y": 400,
      "wires": [["text-status"]]
    },
    {
      "id": "gauge-level",
      "type": "ui_gauge",
      "z": "main",
      "name": "Water Level Gauge",
      "group": "group-sensors",
      "order": 1,
      "width": 3,
      "height": 3,
      "gtype": "gage",
      "title": "Water Level",
      "unit": "ADC (0-4095)",
      "min": 0,
      "max": 4095,
      "prefix": "",
      "suffix": "",
      "colors": [
        "#3498db",
        "#f39c12",
        "#e74c3c"
      ],
      "seg1": 1365,
      "seg2": 2730,
      "className": "",
      "x": 300,
      "y": 300,
      "wires": []
    },
    {
      "id": "gauge-temp",
      "type": "ui_gauge",
      "z": "main",
      "name": "Temperature Gauge",
      "group": "group-sensors",
      "order": 2,
      "width": 3,
      "height": 3,
      "gtype": "gage",
      "title": "Temperature",
      "unit": "°C",
      "min": 0,
      "max": 50,
      "prefix": "",
      "suffix": "",
      "colors": [
        "#2ecc71",
        "#f39c12",
        "#e74c3c"
      ],
      "seg1": 20,
      "seg2": 35,
      "className": "",
      "x": 500,
      "y": 300,
      "wires": []
    },
    {
      "id": "text-level",
      "type": "ui_text",
      "z": "main",
      "name": "Level Display",
      "group": "group-sensors",
      "order": 3,
      "width": 3,
      "height": 1,
      "topic": "liquid_system/level",
      "topicType": "str",
      "textType": "str",
      "className": "text-center",
      "x": 500,
      "y": 250,
      "wires": []
    },
    {
      "id": "text-temp",
      "type": "ui_text",
      "z": "main",
      "name": "Temperature Display",
      "group": "group-sensors",
      "order": 4,
      "width": 3,
      "height": 1,
      "topic": "liquid_system/temperature",
      "topicType": "str",
      "textType": "json",
      "className": "text-center",
      "x": 700,
      "y": 250,
      "wires": []
    },
    {
      "id": "text-status",
      "type": "ui_text",
      "z": "main",
      "name": "Dispensing Status",
      "group": "group-sensors",
      "order": 5,
      "width": 12,
      "height": 3,
      "topic": "liquid_system/status",
      "topicType": "str",
      "textType": "json",
      "className": "",
      "x": 300,
      "y": 400,
      "wires": []
    },
    {
      "id": "chart-level",
      "type": "ui_chart",
      "z": "main",
      "name": "Water Level Chart",
      "group": "group-charts",
      "order": 1,
      "width": 6,
      "height": 4,
      "label": "Water Level Over Time",
      "chartType": "line",
      "legend": "show",
      "xformat": "%H:%M:%S",
      "interpolate": "linear",
      "nodata": "Waiting for data...",
      "dot": false,
      "ymin": "0",
      "ymax": "4095",
      "removeOlder": 1,
      "removeOlderPoints": "",
      "removeOlderUnit": "3600",
      "cutout": 0,
      "useOneColor": false,
      "useUTC": false,
      "colors": [
        "#3498db"
      ],
      "outputs": 1,
      "useTz": false,
      "className": "",
      "x": 300,
      "y": 500,
      "wires": [[]]
    },
    {
      "id": "chart-temp",
      "type": "ui_chart",
      "z": "main",
      "name": "Temperature Chart",
      "group": "group-charts",
      "order": 2,
      "width": 6,
      "height": 4,
      "label": "Temperature Over Time",
      "chartType": "line",
      "legend": "show",
      "xformat": "%H:%M:%S",
      "interpolate": "linear",
      "nodata": "Waiting for data...",
      "dot": false,
      "ymin": "0",
      "ymax": "50",
      "removeOlder": 1,
      "removeOlderPoints": "",
      "removeOlderUnit": "3600",
      "cutout": 0,
      "useOneColor": false,
      "useUTC": false,
      "colors": [
        "#2ecc71"
      ],
      "outputs": 1,
      "useTz": false,
      "className": "",
      "x": 600,
      "y": 500,
      "wires": [[]]
    }
  ]
}
