node-red-flow.json
[
  {
    "id": "liquid-system-group",
    "type": "group",
    "z": "main",
    "name": "Liquid Dispensation System",
    "style": {
      "label": true,
      "color": "#27AE60"
    },
    "nodes": ["mqtt-broker", "cmd-inject-5ml", "cmd-inject-10ml", "cmd-inject-20ml", "cmd-pump", "mqtt-command", "mqtt-level", "mqtt-temperature", "mqtt-status", "gauge-level", "gauge-temp", "dashboard-ui"]
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "z": "main",
    "name": "Raspberry Pi MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-client",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "node-red/status",
    "birthQos": 0,
    "birthPayload": "connected",
    "closeTopic": "node-red/status",
    "closeQos": 0,
    "closePayload": "disconnected",
    "willTopic": "node-red/status",
    "willQos": 0,
    "willPayload": "offline"
  },
  {
    "id": "cmd-pump",
    "type": "ui_form",
    "z": "main",
    "name": "Liquid Control",
    "label": "Dispense Control",
    "group": "dashboard-group",
    "order": 1,
    "width": 6,
    "height": 4,
    "options": [
      {
        "label": "Volume (ml)",
        "key": "ml",
        "type": "number",
        "required": true,
        "placeholder": "Enter ml"
      },
      {
        "label": "Direction",
        "key": "direction",
        "type": "select",
        "options": [
          {
            "label": "Push (Dispense)",
            "value": 1
          },
          {
            "label": "Pull (Draw)",
            "value": -1
          }
        ],
        "required": true
      }
    ],
    "formValue": {
      "ml": 5,
      "direction": 1
    },
    "notification": "Command sent",
    "submit": "Dispense",
    "cancel": "Cancel",
    "topic": "",
    "topicType": "ignored",
    "splitLayout": false,
    "className": ""
  },
  {
    "id": "cmd-inject-5ml",
    "type": "ui_button",
    "z": "main",
    "name": "Quick 5ml",
    "group": "dashboard-group",
    "order": 2,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "5ml Push",
    "tooltip": "",
    "color": "#1E90FF",
    "bgcolor": "#2E4053",
    "className": "",
    "icon": "fa-arrow-down",
    "payload": "{\"ml\":5,\"direction\":1}",
    "payloadType": "json",
    "topic": "liquid_system/command",
    "topicType": "str",
    "x": 100,
    "y": 100,
    "wires": [["mqtt-command"]]
  },
  {
    "id": "cmd-inject-10ml",
    "type": "ui_button",
    "z": "main",
    "name": "Quick 10ml",
    "group": "dashboard-group",
    "order": 3,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "10ml Push",
    "tooltip": "",
    "color": "#1E90FF",
    "bgcolor": "#2E4053",
    "className": "",
    "icon": "fa-arrow-down",
    "payload": "{\"ml\":10,\"direction\":1}",
    "payloadType": "json",
    "topic": "liquid_system/command",
    "topicType": "str",
    "x": 100,
    "y": 150,
    "wires": [["mqtt-command"]]
  },
  {
    "id": "cmd-inject-20ml",
    "type": "ui_button",
    "z": "main",
    "name": "Quick 20ml",
    "group": "dashboard-group",
    "order": 4,
    "width": 2,
    "height": 2,
    "passthru": false,
    "label": "20ml Push",
    "tooltip": "",
    "color": "#1E90FF",
    "bgcolor": "#2E4053",
    "className": "",
    "icon": "fa-arrow-down",
    "payload": "{\"ml\":20,\"direction\":1}",
    "payloadType": "json",
    "topic": "liquid_system/command",
    "topicType": "str",
    "x": 100,
    "y": 200,
    "wires": [["mqtt-command"]]
  },
  {
    "id": "mqtt-command",
    "type": "mqtt out",
    "z": "main",
    "name": "Send Command",
    "topic": "liquid_system/command",
    "qos": "1",
    "retain": false,
    "broker": "mqtt-broker",
    "x": 300,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-level",
    "type": "mqtt in",
    "z": "main",
    "name": "Water Level",
    "topic": "liquid_system/level",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 300,
    "wires": [["gauge-level", "chart-level"]]
  },
  {
    "id": "mqtt-temperature",
    "type": "mqtt in",
    "z": "main",
    "name": "Temperature",
    "topic": "liquid_system/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 350,
    "wires": [["gauge-temp", "chart-temp"]]
  },
  {
    "id": "mqtt-status",
    "type": "mqtt in",
    "z": "main",
    "name": "Dispensing Status",
    "topic": "liquid_system/status",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 400,
    "wires": [["status-display", "debug"]]
  },
  {
    "id": "gauge-level",
    "type": "ui_gauge",
    "z": "main",
    "name": "Water Level",
    "group": "dashboard-group",
    "order": 5,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Water Level (ADC)",
    "unit": "0-4095",
    "min": 0,
    "max": 4095,
    "prefix": "",
    "suffix": "",
    "colors": [
      "#1f77b4",
      "#ff7f0e",
      "#d62728"
    ],
    "seg1": 1365,
    "seg2": 2730,
    "className": "",
    "x": 300,
    "y": 300,
    "wires": []
  },
  {
    "id": "gauge-temp",
    "type": "ui_gauge",
    "z": "main",
    "name": "Temperature",
    "group": "dashboard-group",
    "order": 6,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "unit": "°C",
    "min": 0,
    "max": 50,
    "prefix": "",
    "suffix": "",
    "colors": [
      "#4CAF50",
      "#FFC107",
      "#FF5722"
    ],
    "seg1": 20,
    "seg2": 35,
    "className": "",
    "x": 500,
    "y": 300,
    "wires": []
  },
  {
    "id": "status-display",
    "type": "ui_text",
    "z": "main",
    "name": "Last Dispensing Info",
    "group": "dashboard-group",
    "order": 7,
    "width": 6,
    "height": 3,
    "topic": "liquid_system/status",
    "topicType": "str",
    "textType": "json",
    "className": "",
    "x": 300,
    "y": 400,
    "wires": []
  },
  {
    "id": "chart-level",
    "type": "ui_chart",
    "z": "main",
    "name": "Water Level Chart",
    "group": "dashboard-group",
    "order": 8,
    "width": 6,
    "height": 4,
    "label": "Water Level Over Time",
    "chartType": "line",
    "legend": "show",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a"
    ],
    "outputs": 1,
    "useTz": false,
    "className": "",
    "x": 300,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "chart-temp",
    "type": "ui_chart",
    "z": "main",
    "name": "Temperature Chart",
    "group": "dashboard-group",
    "order": 9,
    "width": 6,
    "height": 4,
    "label": "Temperature Over Time",
    "chartType": "line",
    "legend": "show",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#4CAF50",
      "#FFC107",
      "#FF5722"
    ],
    "outputs": 1,
    "useTz": false,
    "className": "",
    "x": 500,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "dashboard-group",
    "type": "ui_group",
    "z": "main",
    "name": "Liquid System Dashboard",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false,
    "className": ""
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "z": "main",
    "name": "Liquid Control",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "main",
    "name": "Debug Status",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 400,
    "wires": []
  }
]
